<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="AWSProfileName" value="Jacob"/>
    <add key="AWSProfilesLocation" value="C:\Users\jacob\Documents\AWS_Keys\JacobAWSCredentials"/>
    <add key="AWSRegion" value="us-west-2" />
    <add key="AWSLogging" value="log4net"/>
  </appSettings>

</configuration>